.static-box{
    position: static;
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    padding: 2px;
}

.relative-box{
    position:relative;
    left:30px;
    top: 20px;
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
    padding: 2px;
}

.absolute-box{
    position: absolute;
    top: 10px;
    left: 15px;
    height: 100px;
    width: 100px;
    background-color: green;
    border: 2px solid black;
    padding: 2px;
}

.fixed-box{
    position: fixed;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: blueviolet;
    bottom: 10px;
    right: 10px;
}

.sticky-box{
    position: sticky;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: yellow;
    top: 0px;
    right:0px;

}

.background-image{

    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-image: url(https://th.bing.com/th/id/OIP.N_MgeEAgz3C61hFZqczYpAHaE7?rs=1&pid=ImgDetMain);
    background-size: cover;

}

.background-image-repeat{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-image: url(https://th.bing.com/th/id/OIP.N_MgeEAgz3C61hFZqczYpAHaE7?rs=1&pid=ImgDetMain);
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

.box1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: orange;
    z-index: 1;
}

.box2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color:brown;
    margin-left: 20px;
    margin-top: -10px ;
    z-index: 2;
}

#container1{
    width:600px;
    height: 400px;
    background-color: white;
    border: 4px,black,solid;
    display: flex;
    flex-direction: row;
}

#boxA{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: pink;
}

#boxB{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: gray;
}

#boxC{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: purple;
}


#container2{
    width:600px;
    height: 400px;
    background-color: white;
    border: 4px,black,solid;
    display: flex;
    flex-direction: column;
}

#boxD{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: pink;
}

#boxE{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: gray;
}

#boxF{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: purple;
}

#container3{
    width:600px;
    height: 400px;
    background-color: white;
    border: 4px,black,solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#boxG{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: pink;
}

#boxH{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: gray;
}

#boxI{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: purple;
}

#container4{
    width:600px;
    height: 400px;
    background-color: white;
    border: 4px,black,solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#boxJ{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: pink;
}

#boxK{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: gray;
}

#boxL{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: purple;
}
#boxM{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: pink;
}

#boxN{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: gray;
}

#boxO{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    background-color: purple;
}


